{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Hotline in India
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item"><h4>Crisis Intervention Centre (CIC)</h4>Contact Number: 91-22-2772 6771 <br><a class="link-info text-decoration-none" href="http://www.cic.org.in/" target="_blank">http://www.cic.org.in/</a></li>
            <li class="list-group-item"><h4>Befrienders India</h4>Contact Number: 91-44-24640050 <br><a class="link-info text-decoration-none" href="https://www.befrienders.org/india" target="_blank">https://www.befrienders.org/india</a><br><a class="link-info text-decoration-none" href="https://www.befrienders.org/india/helplines" target="_blank">Check Out Other Area</a></li>
            <li class="list-group-item"><h4>Snehi Foundation</h4>
                Contact Number: 91-22-2772 6771 / 91-22-2772 6772<br>
                <a class="link-info text-decoration-none" href="http://www.snehi.org" target="_blank">http://www.snehi.org</a></li>
            <li class="list-group-item"><h4>Vandrevala Foundation</h4>
                Contact Number: 91-26-13723011 / 91-22-27720903<br>
                <a class="link-info text-decoration-none" href="https://www.vandrevalafoundation.com" target="_blank">https://www.vandrevalafoundation.com</a></li>
            <li class="list-group-item"><h4>Indian Suicide Prevention Association (ISPA)</h4>
                Contact Number: 91-40-27721071<br>
                <a class="link-info text-decoration-none" href="https://www.ispa.org.in" target="_blank">https://www.ispa.org.in</a></li>       
        </ul>
    </div>
</div>
{% endblock content %}
